@import url(slick.css);
/*@import url(slick-theme.css);*/

.main{
	width: 90%;
	height: 80%;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
.slider{
	box-sizing: border-box;
	margin: 0 70px 50px 70px;


}
.slide{
	width: calc(25%-20px) !important;
	height: 300px;
	margin: 0 10px 0 10px;
}
.slide-1{
	background: url('../img/slide1.png') 50% no-repeat;
	background-size: cover;
}
.slide-2{
	background: url('../img/slide2.png') 50% no-repeat;
	background-size: cover;
}
.slide-3{
	background: url('../img/slide3.png') 50% no-repeat;
	background-size: cover;
}
.slide-4{
	background: url('../img/slide4.png') 50% no-repeat;
	background-size: cover;
}
.prev{
	width: 50px !important;
	height: 52px;
	position: absolute;
	top: calc(50% - 20px);
	z-index: 1;
	left: -60px;
	background: none;
	border: none;

}
.next{
	width: 50px !important;
	height: 52px;
	position: absolute;
	top: calc(50% - 20px);
	z-index: 1;
	right: -60px;
	background: none;
	border: none;
}
